﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Employees list</h2>
<div class="row">
    <div id="filtersDiv">
        @Html.Action("FiltersForReport", "Home")
    </div>
    <div id="divEmployeeListContainer">
        @Html.Action("EmployeesByDepartment", "Home")
    </div>
</div>