﻿@model metalERP.Models.ViewModel.EmployeDataView

<div>
    <table class="table table-striped table-condensed table-hover">
        <thead>
            <tr>
                <th>EmployeID</th>
                <th>FirstName</th>
                <th>LasttName</th>
                <th>Initials</th>
                <th>Title</th>
                <th>Is Active</th>
                <th colspan="2">Department</th>
                
            </tr>
        </thead>
        <tbody>
            @foreach (var i in Model.EployeesInfo)
            {
                <tr>
                    <td>@Html.DisplayFor(m => i.EmployeID)</td>
                    <td>@Html.DisplayFor(m => i.FirstName)</td>
                    <td>@Html.DisplayFor(m => i.LasttName)</td>
                    <td>@Html.DisplayFor(m => i.Initials)</td>
                    <td>@Html.DisplayFor(m => i.Title)</td>
                    <td>@Html.DisplayFor(m => i.Active)</td>
                    <td>@Html.DisplayFor(m => i.Department)</td>
                    <td>@Html.HiddenFor(m => i.EmployeID)</td>
                    
                </tr>
            }
        </tbody>
    </table>

</div>
