﻿@model metalERP.Models.ViewModel.DeptoName

@using (Html.BeginForm("ListByDepartment", "Home", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div class="form-inline form-group">
        <label for="deptoName">Select option:</label>
        <select name="deptoName" id="deptoName" class="form-control">
            <option value="All">All</option>
            <option value="Management">Management</option>
            <option value="Mold Shop">Mold Shop</option>
            <option value="Engineering">Engineering</option>
            <option value="Mold Maint.">Mold Maint</option>
            <option value="ENGINEERING">ENGINEERING</option>
        </select>
        <input type="submit" value="Filter by" id="Submit" class="form-control btn btn-primary" />
    </div>
}







