﻿@model metalERP.Models.ViewModel.EmployeDataView

@{
    ViewBag.Title = "ListByDepartment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Employees list</h2>
<div class="row">
    <div class="col-md-8">
        <div id="filtersDiv">
            @Html.Action("FiltersForReport", "Home")
        </div>
    </div>
    <div id="divEmployeeListContainer" class="col-md-4">
        @Html.HiddenFor(m => Model.nameDep, htmlAttributes: new { @name = "dep_name", @id = "nameDepIn" })
        @Html.ActionLink("Export to PDF", "CreatePdf", "Home", routeValues: new { depto = Model.nameDep },    htmlAttributes: new { @class = "btn btn-success" })
        @*@Html.Action("EmployeesByDepartment", "Home")*@
    </div>
</div>
<div>
    <table class="table table-striped table-condensed table-hover">
        <thead>
            <tr>
                <th>EmployeID</th>
                <th>FirstName</th>
                <th>LasttName</th>
                <th>Initials</th>
                <th>Title</th>
                <th>Is Active</th>
                <th colspan="2">Department</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var i in Model.EployeesInfo)
            {
                <tr>
                    <td>@Html.DisplayFor(m => i.EmployeID)</td>
                    <td>@Html.DisplayFor(m => i.FirstName)</td>
                    <td>@Html.DisplayFor(m => i.LasttName)</td>
                    <td>@Html.DisplayFor(m => i.Initials)</td>
                    <td>@Html.DisplayFor(m => i.Title)</td>
                    <td>@Html.DisplayFor(m => i.Active)</td>
                    <td>@Html.DisplayFor(m => i.Department)</td>
                    <td>@Html.HiddenFor(m => i.EmployeID)</td>

                </tr>
            }
        </tbody>
    </table>

</div>